
.paddmenu{padding-right: 30px; padding-left: 30px;}

body{
    font-size: 2em;
}

.usuario{
    color: white;
    font-size: 1.5em;
    padding-right: 100px;
}

.droplist{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

#listado, #nuevocurso{ cursor: pointer; }

.gris:hover{ color: grey; }
